.title {
    text-align: center;
}

#navbox {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 90% 5% 5%;
    justify-items: center;
}

#align-right {
    float:right
}

#search {
    border-bottom: 1px solid #e04700;
}

select {
    border: 0;
}