.title {
    text-align: center;
}

#navbox {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 90% 5% 5%;
    justify-items: center;
}

#align-right {
    float:right
}

#search {
    border-bottom: 0.1rem solid #e04700;
}

select {
    border: 0;
}