<div class="row">
  <div class="input-field col s9">
    <input #search [value]="query" (keyup.enter)="update(search.value)" placeholder="Search" id="search" type="search"
      required>
  </div>

  <div class="input-field col s3">
    <select class="browser-default" id="select-box-limit" (change)="limitresults($event.target.value)" [value]="limit">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
    </select>
  </div>
</div>

<app-error *ngIf="error"></app-error>
<div *ngIf="data && !error">
  <h3 class="title">{{title}}</h3>
  <a class="btn btn-small waves-effect waves-light red" id="align-left" (click)="prev()">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="btn btn-small waves-effect waves-light red" id="align-right" (click)="next()">
    <i class="material-icons">arrow_forward</i>
  </a>
  <div *ngIf="!loading">
    <div *ngFor="let post of data">
      <app-entry [subreddit]="post"></app-entry>
    </div>
  </div>
</div>
<div class="loading" *ngIf="loading">
  <app-loading></app-loading>
</div>