<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img class="circle responsive-img" [src]="thumbnail">
      </div>
      <div class="col s10">
        <span class="black-text">
          <h4 class="flow-text">{{subreddit.data.title}}</h4>
          <p>POINTS: {{score}}</p>
          <p>COMMENTS: {{num_comments}}</p>
          <p>DATE: {{created * 1000 | date: 'medium'}}</p>
          <a href="{{permalink}}">link</a>
        </span>
      </div>
    </div>
  </div>
</div>