<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div class="row" *ngIf="!loading">
  <ul class="browser-default">
    <li class="browser-default" *ngFor="let item of comments">
      <span class="black-text">
        <p>{{item.data.selftext ? item.data.selftext : ''}}</p>
        <p class="author">{{item.data.author}}</p>
        <p>{{item.data.body}} </p>
      </span>

      <div *ngIf="item.data.replies">
        <ul class="browser-default">
          <li class="browser-default">
            <app-tree [node]="item.data.replies.data"></app-tree>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>