<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel white lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img class="circle responsive-img" [src]="thumbnail">
      </div>
      <div class="col s12">
        <span class="black-text">
          <a [routerLink]="['/subreddit', subreddit.data.subreddit]" [queryParams]="{ id: id }">{{subreddit.data.title}}</a>
          <p><span class="badge">points {{score}}</span></p>
          <p><span class="badge">comments: {{num_comments}}</span></p>
        </span>
      </div>
      <p><span class="badge">{{created * 1000 | date: 'short'}}</span></p>
      <span class="badge"><a target="_blank" [href]="permalink" class="btn-floating btn-small waves-effect waves-light red"><i
            class="material-icons">open_in_new</i></a></span>

    </div>
  </div>
</div>