/* You can add global styles to this file, and also import other style files */
@import 'node_modules/materialize-css/dist/css/materialize.min.css';

ul {
    list-style: none;
    padding: 5px;
  }
  p {
      font-size: 10px;
  }

  span.badge {
      font-size: 10px
  }