/* You can add global styles to this file, and also import other style files */
@import 'node_modules/materialize-css/dist/css/materialize.min.css';

ul {
    list-style: none;
    padding: .5rem;
  }
  p {
      font-size: 1rem;
  }

  span.badge {
      font-size: 1rem
  }
  .progress {
      background-color: white;
  }
  .progress .indeterminate {
      background-color: #e04700;
  }

