/* You can add global styles to this file, and also import other style files */
@import 'node_modules/materialize-css/dist/css/materialize.min.css';

ul {
    list-style: none;
    padding: .5rem;
  }
  p {
      font-size: 1rem;
  }

  span.badge {
      font-size: 1rem
  }
  .progress {
      background-color: white;
  }
  .progress .indeterminate {
      background-color: #e04700;
  }

  * {margin: 0; padding: 0; list-style: none;}
ul li {
  margin-left: 1.5rem;
  position: relative;
  padding-left: 1.5rem;
}
ul li::before {
  content: " ";
  position: absolute;
  width: 0.1rem;
  background-color: #000;
  top: 0.5rem;
  bottom: -1.2rem;
  left: -1rem;
}
body > ul > li:first-child::before {top: 1.2rem;}
ul li:not(:first-child):last-child::before {display: none;}
ul li:only-child::before {
  display: list-item;
  content: " ";
  position: absolute;
  width: 0.1rem;
  background-color: #000;
  top: 0.5rem;
  bottom: 0.7rem;
  height: 0.7rem;
  left: -1rem;
}
ul li::after {
  content: " ";
  position: absolute;
  left: -1rem;
  width: 1rem;
  height: 0.1rem;
  background-color: #000;
  top: 1.2rem;
}